.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    height: 40px;
    
    &:hover {
        cursor: pointer;
    }
    
    &__submit {
        width: 100%;
        font: rem(14px, 14px) $gotham-bold;
        color: #fff;
        background: #66BB6A;
        
        &:hover {
            background: #43A047;
        }
    }
}

.input-wrap {
    position: relative;
}

.modal {
    &--success {
        position: relative;
        margin-top: 10px;
        width: 100%;
        opacity: 0;
        transform: translate(0, 50px);
        background: #039BE5;
        padding: 15px;
        
        h2 {
            font: rem(16px, 16px) $gotham-bold;
            color: #fff;
            padding-bottom: 0;
        }
        
        &.active {
            animation: show-modal 2s 0s ease-out 1;
        }
    }
    
    @keyframes show-modal {
        0% {
            transform: translate(0, 50px);
            opacity: 0;
        }
        
        10% {
            transform: translate(0, 0);
            opacity: 1;
        }
        
        50% {
            transform: translate(0, 0);
            opacity: 1;
        }
        
        75% {
            transform: translate(0, 0);
            opacity: 1;
        }
        
        100% {
            transform: translate(0, 50px);
            opacity: 0;
        }
    }
}