.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    height: 40px;
    
    &:hover {
        cursor: pointer;
    }
    
    &__submit {
        width: 100%;
        font: rem(14px, 14px) $gotham-bold;
        color: #fff;
        background: #66BB6A;
        
        &:hover {
            background: #43A047;
        }
    }
}

.input-wrap {
    position: relative;
}

.modal {
    &--success {
        position: relative;
        margin-top: 10px;
        width: 100%;
        opacity: 0;
        transform: translate(0, 50px);
        background: #039BE5;
        padding: 15px;
        
        h2 {
            font: rem(16px, 16px) $gotham-bold;
            color: #fff;
            padding-bottom: 0;
        }
        
        &.active {
            animation: show-modal 2s 0s ease-out 1;
        }
    }
    
    &__summary {
        position: absolute;
        left: 50%;
        top: 50%;
        background: #fff;
        padding: 15px;
        transform: translate(-50%, -30%);
        border-radius: 4px;
        z-index: 3;
        transition: all .2s ease-in;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, .7);
        
        &.active {
            transform: translate(-50%, -50%);
            visibility: visible;
            opacity: 1;
        }

        p {
            font: rem(14px, 18px) $light;
            color: #232323;
            text-align: left;
            
            strong {
                color: #000;
            }
        }
    }
    
    &__bottom-controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: 45%;
            height: 40px;
            padding: 0 15px;
            cursor: pointer;
            transition: all .2s ease;
            font: rem(14px, 14px) $light;
            color: #fff;
        }
    }
    
    @keyframes show-modal {
        0% {
            transform: translate(0, 50px);
            opacity: 0;
        }
        
        10% {
            transform: translate(0, 0);
            opacity: 1;
        }
        
        50% {
            transform: translate(0, 0);
            opacity: 1;
        }
        
        75% {
            transform: translate(0, 0);
            opacity: 1;
        }
        
        100% {
            transform: translate(0, 50px);
            opacity: 0;
        }
    }
}

.summary {
    &__info {
        h4 {
            font: rem(16px, 16px) $bold;
            color: blue;
        }
    }
    
    &__points {
        margin: 10px 0;
    }

    &__car-info,
    &__duration,
    &__date {
        margin-bottom: 10px;
    }
    
    &__send {
        background: #437086;

        &:hover {
            background: #455A64;
        }
    }

    &__cancel {
        background: #E53935;

        &:hover {
            background: #F44336;
        }
    }
}